.all_products {
    padding-top: 4rem;
    margin-left: auto;
    margin-right: auto;
}

.title_all_product .color_theme {
    color: #ce7852;
}

.title_all_product {
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

.all_products .container .product_text {
    text-align: center;    
}

.text {
    margin: 0 auto;
    max-width: 650px;
}

.text h2  {
    margin-bottom: 1.5rem !important;
}


/* Book tag */

.book_tag {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.book_tag .product_nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #333;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 300ms ease-in 0s;
}

.book_tag .product_nav a + a {
    border-left: 1px solid #ebebeb;
}

.book_tag .product_nav a.active,
.book_tag .product_nav a:hover {
    color: #ce7852;
}

.book_tag .product_nav .nav-link {
    padding: 0 1rem;
}

.item {
    padding: 20px 0;
}

.product_content {
    text-align: center;
    padding-top: 10px;
}

.item .product_content h4 a {
    color: #333;
    display: block;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 0;
    text-transform: capitalize
}

.item .product_content .price {
    justify-content: center;
}

.item .product_content ul li {
    display: inline-block;    
    color: #ce7852;
    font-size: 14px;
    margin-right: 15px;
    font-weight: 700;
}

.item .product_content .old_price {
    color: #7d7d7d;
    text-decoration: line-through;
}
