.mesg {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 600;
    margin-top: 50px;
    margin-left: 30px;
    color: #495057;
}