.product-page {
    font-family: 'Poppins', sans-serif;
}

.color-orange {
    color: #CE7852;
}

.product-page .sidebar .category li {
    line-height: 45px;
    text-transform: capitalize;
    border-bottom: 1px dashed #E1E1E1;

}

.product-page .sidebar .category li a {
    color: #333;
}

.product-page .sidebar .category li a:hover {
    color: #CE7852;
}

.product-page .sidebar .banner .text {
    text-align: center;
    top: 120px;
    bottom: 30px;
    left: 30px;
    right: 30px;
}

.product-page .paginationlist li {
    display: inline-block;

}

.product-page .paginationlist li a {
    color: #333;
    padding: 0 13px;
    border-bottom: 2px solid transparent;
}

.product-page .paginationlist li a:hover {
    border-color: #333;
}

.product-page .product-list img {
    transition: transform 0.3s ease;
}

.product-page .product-list img:hover {
    transform: scale(1.05);
}

