.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  z-index: 999;
  box-shadow: 0 10px 100px 0 rgb(0 0 0 / 10%);
}

/* .header .container-fluid {
    background-color: transparent !important;
} */
.header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header nav .navbar-brand {
  display: block;
  flex: 1 1;
  flex-basis: 100px;
}

.header .collapse.navbar-collapse {
  flex: 3 3;
  flex-basis: 700px;
}

.header nav .navbar-nav .nav-item .nav-link {
  color: #010101;
  font-weight: 600;
  padding: 0.5rem 1rem;
  display: inline-block;
  margin-right: 10px;
  text-transform: uppercase;
}

.header nav .navbar-nav .nav-item li {
  align-self: stretch;
  display: flex;
}
.header nav .navbar-nav .nav-item .nav-link:hover {
  color: #ce7852 !important;
}

.header .cart {
  flex: 1 1;
  flex-basis: 100px;
}

.header .cart ul {
  display: flex;
}
.header .cart li {
  list-style-type: none;
  display: inline-block;
  padding: 0 1rem;
}

.header .cart li a {
  color: #000;
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  .header .navbar-nav li {
    padding-left: 1rem;
    border-bottom: 1px solid #d9d9d9;
  }

  .header .cart {
    display: none;
  }

  .header .cart-m {
    display: block !important;
    padding-left: 1rem;
    padding-top: 0.5rem;
  }

  .header .cart-m ul {
    display: flex;
  }

  .header .cart-m li {
    list-style-type: none;
    display: inline-block;
    padding: 0 1rem;
  }

  .header .cart-m li:last-child {
    margin-right: 1rem;
  }

  .header .cart-m li a {
    color: #000;
    font-size: 1.2rem;
  }
}
